.Row {
  display: block;
  margin: 50px auto;
  max-width: 500px;
  padding: 10px;

  @media (min-width: 768px) {
    display: flex;
    margin: 50px auto;
    max-width: 1200px;
    align-items: center;
    justify-content: center;
  }
}

.ShowcaseImage {
  width: 100%;
  max-width: 800px;

  img {
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }

  &.NoShadow {
    img {
      box-shadow: none;
    }
  }
}

.LargeQuote {
  margin-bottom: 20px;
  text-align: center;

  p {
    font-size: 22px;
    line-height: 1em;
    color: #5d94a2;
  }

  @media (min-width: 768px) {
    width: 300px;
    text-align: left;
    margin-right: 50px;
    margin-bottom: 0;

    p {
      font-size: 28px;
      line-height: 1.2em;
    }
  }
}

.Caption {
  font-size: 16px;
  text-align: right;
  color: #888;
  margin-bottom: 5px;
  max-width: 80%;
  float: right;
}
