.title {
	font-family: 'Asap', 'Lato', sans-serif;
	font-size: 9.5rem;
	font-weight: bolder;
	line-height: 9rem;
	text-transform: uppercase;
	color: rgba(0, 0, 0, 0.05);
	text-align: center;

	margin-bottom: -50px !important;
	margin-top: 50px !important;
}

.subtitle p {
	font-family: 'Asap', 'Lato', sans-serif;
	color: #444;
	line-height: 1em;

	text-align: center;
	font-size: 3rem;
	padding: 0 110px;
	margin-bottom: 50px;
}