.main {
  padding-top: 66px;
}

.FadeAppear,
.FadeEnter {
  opacity: 0;
}

.FadeAppearActive,
.FadeEnterActive {
  opacity: 1;
  transition: opacity 1s linear;
}

.FadeExit {
  opacity: 1;
  transition: opacity 1s linear;
}

.FadeExitActive {
  opacity: 0;
}
